*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;

}
.video{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.logo h1{
    font-size: 35px;
    color: white;
}
.logo h1 span{
    color: #30AADD;
}
footer{
	bottom: 0;
	position: absolute;
	color: #fff;
}
.readmore{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.readmore{
    display: flex;
    flex-direction: column;
}
.readmore h1{
    font-size: 50px;
    color: white;
}
.readmore h1 span{
    color: #30AADD;
}
.readmore p{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 3rem;
}
.readmore a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px 30px;
	border: 2px solid #30AADD;
}
.readmore a:hover{
	color: #000;
	background-color: rgb(67, 145, 155);
	transition: 0.6s;
	letter-spacing: 3px;
	transition: 0.6s;
}
.navbar{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: static;
}
.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 18px;
}
.menu ul li a:hover{
	transition: 0.4s;
	letter-spacing: 3px;
    color: #ffffff;
} 
.signup a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 12px;
	padding: 8px 25px;
	border: 2px solid #30AADD;
}
.signup h1{
	color: #fff;
}
.signup h1 span{
	color: #30AADD;
}
.signup a:hover{
	background-color: rgb(67, 145, 155);
	transition: 0.6s;
	letter-spacing: 3px;
	transition: 0.6s;
	border-radius: 25px;
}
.signup i{
	color: #fff;
	float: left;
	text-align: center;
}
.body{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-position: center;
	background-size: cover;
}
.heading{
	width: 30%;
	text-align: center;
	color: rgb(186, 242, 244);
}
.heading h2{
	font-size: 30px;
    color: white;
}
.heading h2 span{
	color: #30AADD;
	font-size: 35px;
}
.heading a{
	text-decoration: none;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	border-radius: 45px;
	padding: 14px 50px;
	background-color: #fff;
}
.heading a:hover{
	letter-spacing: 3px;
	transition: 0.6s;
}
.tours{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.places{
	display: inline;
	text-align: center;
	border: none;
}
.places h2{
	color: #ffffff;
	font-size: 35px;
	letter-spacing: 3px;
	border-radius: 1px;
	padding: 30px 30px;
}
.places a{
	text-decoration: none;
	color: #FFD124;
	font-weight: bold;
	font-size: 18px;
	border: transparent;
	border-radius: 30px;
	padding: 10px 25px;
	background: none;
	
}
.places a:hover{
	background: none;
	border: 2px solid #30AADD;
	transition: 0.3s;
	border-radius: 30px;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #30AADD;
}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: #fff;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.btn{
	width: 80%;
	background: none;
	border: none;
	color: #fff;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}
.contact-section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .contact-info{
	color: #fff;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
  }
  
  .contact-info i{
	margin-right: 20px;
	font-size: 25px;
  }
  
  .contact-form{
	max-width: 700px;
	margin-right: 50px;
  }
  
  .contact-info, .contact-form{
	flex: 1;
  }
  
  .contact-form h2{
	color: #fff;
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
  }
  .contact-form h2 span{
	  color: #30AADD;
	  font-size: 35px;
  }
  
  .contact-form .text-box{
	background: #000;
	color: #fff;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.7;
  }
  
  .contact-form .text-box:first-child{
	margin-right: 15px;
  }
  
  .contact-form textarea{
	background: #000;
	color: #fff;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.7;
  }
  
  .contact-form .send-btn{
	float: right;
	background: #2E94E3;
	color: #fff;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background;
  }
  
  .contact-form .send-btn:hover{
	background: #0582E3;
  }
  .main-destination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.main-destination .inner-destination{
    flex: 280px;
	color: #A1E3D8;
}
.main-destination .inner-destination .main-image img{
    width: 100%;
}
.inner-destination h2{
    font-size: 2rem;
    padding: 1rem 0;
	color: #fff;
}
.inner-destination p{
    font-size: 1rem;
}
.dist-icons{
    margin-left: 1rem;
}
.container h1{
	color: #fff;
	display: inline;
	text-align: center;
	margin-left: 250px;
}
.container h1 span{
	color: #2E94E3;
}
#form{
    background-color: rgba(15, 14, 14, 0.5);
    height:360px;
    width:700px;
	margin-bottom: 100px;
}
#form h3{
    border-bottom: 2px solid #3399ff;
    width:210px;
    padding: 5px;
	color: #fff;
}
::placeholder{
    color:#fff
}
#input #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input2 #input-group{
    width:195px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input3 #input-group{
    margin-left: 50px;
	color: #fff;
}
#input3 #input-group{
	color: #fff;
}
#input4 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input4 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input5 h3{
    border-bottom: 2px solid #3399ff;
    width:220px;
    padding: 5px;
}
#input6 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input6 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
.btns{
	display: flex;
	align-items: center;
}
.btns :hover{
	color: #fff;
	transition: 0.3s;
}
@media only screen and (max-width:900px){
	navbar ul{
		width: 100%;
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}
}	